@model IEnumerable<iProjects.Models.Story>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Epic.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprint.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptanceCriteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Backlog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Epic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprint.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptanceCriteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfStoriesTasks.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Backlog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revision)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoryId })
        </td>
    </tr>
}

</table>
