<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-pencil"></span> Projects</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-support"></span> Support</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create Ticket", "Create", "SupportTickets")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-windows"></span> Crash</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create Crash Report", "Create", "CrashReports")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-bug"></span> Bugs</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create Bug Report", "Create", "BugReports")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-dollar"></span> Payments</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create Payment", "Create", "Invoices")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-book"></span> Dictionary</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("New Dictionary Word", "Create", "Dictionaries")</li>
        <li>@Html.ActionLink("Dictionary", "Index", "Dictionaries")</li>
    </ul>
</li>
