@model IEnumerable<iProjects.Models.CrashReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p type="button" class="btn btn btn-success">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrsdhDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Os)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrsdhDetails)
        </td>
        <td>
            @{
                if (item.Status == false)
                {
                    <div class="label label-warning">
                        <div class="hidden">
                            @Html.DisplayFor(modelItem => item.Status)
                        </div>
                        Opened
                    </div>
                }
                else
                {
                    <div class="label label-success">
                        <div class="hidden">
                            @Html.DisplayFor(modelItem => item.Status)
                        </div>
                        Finished
                    </div>
                }
            }
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </ul>
            </div>
        </td>
    </tr>
}

</table>
