@using iProjects.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<iProjects.Models.InternalMail>

<body>
    <!-- Begin page -->
    <div class="enlarged forced">

        <!-- Right Sidebar End -->
        <!-- Start right content -->
        <div>
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1><i class='fa fa-envelope'></i> E-mail</h1>
                </div>
                <!-- Page Heading End-->
                <!-- Begin Inbox -->
                <div class="widget transparent box-messages">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <form class="form-horizontal" role="form">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <div class="form-group form-search search-box has-feedback">
                                        <input type="text" class="form-control full-rounded" id="inputSuccess5" placeholder="Search..">
                                        <a class="btn btn-link" href="#"><span class="fa fa-search form-control-feedback"></span></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Sidebar Message -->
                            <div class="btn-group new-message-btns stacked">
                                <a href="/InternalMails/Create" class="btn btn-success btn-lg col-xs-10">Compose</a>
                                <a class="btn btn-success md-trigger col-xs-2 btn-lg" data-modal="new-message"><i class="icon-pencil"></i></a>
                            </div>
                            <div class="list-group menu-message">
                                <a href="/InternalMails/" class="list-group-item">
                                    <i class="icon-inbox"></i> Inbox <span class="badge pull-right">
                                        @{
                                            Html.RenderAction("Notifications", "InternalMails");
                                        }
                                    </span>
                                </a>
                                <a href="/InternalMails/Archive/" class="list-group-item active">
                                    <i class="icon-pencil"></i> Archive <span class="badge bg-green-1 pull-right">
                                        @{
                                        Html.RenderAction("ArchiveStatistic", "InternalMails");
                                    }
                                </span>
                            </a>
                                <a href="/InternalMails/Spam/" class="list-group-item"><i class="icon-star"></i> Spam <span class="badge bg-red-1 pull-right">@{
                                    Html.RenderAction("SpamStatistic", "InternalMails");
                                }</span></a>
                                <a href="/InternalMails/Sent/" class="list-group-item"><i class="icon-export"></i> Sent<span class="badge bg-blue-1 pull-right">
    @{
                                    Html.RenderAction("SentStatistic", "InternalMails");
                                }
                            </span></a>
                            </div>

                            <div class="list-group menu-folders">
                                <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-red-1"></i> Work</a>
                                <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-green-1"></i> Social</a>
                                <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-blue-1"></i> Friends</a>
                                <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-orange-3"></i> Private</a>
                                <a href="#fakelink" class="list-group-item"><i class="fa fa-circle text-lightblue-2"></i> Family</a>
                            </div>
                        </div><!-- ENd div .col-md-2 -->

                        <div class="col-md-9">
                            <div class="mail-list">
                                <div class="clearfix"></div>

                                <!-- Toolbar message -->
                                <div class="data-table-toolbar">
                                    <div class="row">
                                        <div class="col-sm-8">

                                            <div class="btn-toolbar" role="toolbar">

                                                <div class="btn-group">
                                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tag"></i> <span class="caret"></span></a>
                                                </div>
                                                <div class="btn-group hidden-xs">
                                                    <a data-toggle="tooltip" title="Move to Archive" class="btn btn-primary"><i class="fa fa-inbox"></i></a>
                                                    <a data-toggle="tooltip" title="Mark spam" class="btn btn-primary"><i class="fa fa-exclamation-circle"></i></a>
                                                    <a data-toggle="tooltip" title="Move to Trash" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="btn-group hidden-xs">
                                                    <a data-toggle="tooltip" title="Refresh" class="btn btn-primary"><i class="fa fa-undo"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a data-toggle="tooltip" title="Move to folder" class="btn btn-primary"><i class="fa fa-folder"></i> <span class="caret"></span></a>
                                                </div>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#fakelink">Mark all as <b>Read</b></a></li>
                                                        <li><a href="#fakelink">Mark all as <b>Unread</b></a></li>
                                                        <li><a href="#fakelink">Move all to Archive</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#fakelink">Move all to Trash</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 hidden-xs">
                                            <div class="pull-right">
                                                <span class="paging-status">20 of 250</span>
                                                <div class="btn-group">
                                                    <a class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                                    <a class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-cog"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li><a href="#fakelink">Action</a></li>
                                                        <li><a href="#fakelink">Another action</a></li>
                                                        <li><a href="#fakelink">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#fakelink">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- End div .col-sm-3 -->
                                    </div><!-- End div .row -->
                                </div><!-- End div .data-table-toolbar -->
                                <!-- End toolbar message -->
                                <!-- Message table -->
                                <div class="table-responsive">
                                    <table class="table table-hover table-message">
                                        <tbody>
                                            @{

                                                ApplicationDbContext db = new ApplicationDbContext();
                                                ApplicationUser user = db.Users.Find(User.Identity.GetUserId());
                                                foreach (var item in Model)
                                                {
                                                    if (item.UserId != user.Id)
                                                    {
                                                        <div class="hidden">
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        if (item.IsRead != true && item.Spam != true && item.Archive == true)
                                                        {
                                                            <tr class="unread">
                                                                <td style="width: 20px;"><a href="javascript:;"><i class="icon-star-1 warning"></i></a></td>
                                                                <td><a href="" class="icon-mail-1">@Html.DisplayFor(modelItem => item.From)</a></td>
                                                                <td><a href="">@Html.DisplayFor(modelItem => item.Subject)</a></td>
                                                                <td><i class="icon-attach-3" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.AttachmentFile)</i></td>
                                                                <td>@Html.DisplayFor(modelItem => item.TimeOfCreation)</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                                                                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                                                                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                        if (item.IsRead == true && item.Archive == true)
                                                        {
                                                            <tr>
                                                                <td style="width: 20px;"><a href="javascript:;"><i class="icon-star-1 warning"></i></a></td>
                                                                <td><a href="">@Html.DisplayFor(modelItem => item.From)</a></td>
                                                                <td><a href="">@Html.DisplayFor(modelItem => item.Subject)</a></td>
                                                                <td><i class="icon-attach-3" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.AttachmentFile)</i></td>
                                                                <td>@Html.DisplayFor(modelItem => item.TimeOfCreation)</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                                                                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                                                                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div><!-- End div .table-responsive -->
                                <!-- End message table -->
                                <!-- Footer message toolbar -->
                                <div class="data-table-toolbar-footer">
                                    <div class="pull-right">
                                        <span class="paging-status">20 of 250</span>
                                        <div class="btn-group">
                                            <a class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                            <a class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                        </div><!-- End div .btn-group -->
                                    </div><!-- End div .pull-right -->
                                </div><!-- End div .data-table-toolbar -->
                                <!-- End Footer message toolbar -->
                            </div>
                        </div><!-- End div .col-md-10 -->
                    </div><!-- End div .row -->
                </div><!-- End div .box-info -->
                <!-- End inbox -->
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- End right content -->
        <!-- Modal New message -->
        <div class="md-modal md-slide-stick-top" id="new-message">
            <div class="md-content">
                <div class="md-close-btn"><a class="md-close"><i class="fa fa-times"></i></a></div>
                <h3><strong>New</strong> Message</h3>
                <div>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Message to">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Message subject">
                        </div>
                        <div class="form-group">
                            <textarea class="summernote-small form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <button type="submit" class="btn btn-success btn-sm">Send</button>
                                <button class="btn btn-warning btn-sm">Draft</button>
                            </div>
                            <div class="col-xs-4">
                                <p class="quick-post message">
                                    <a><i class="fa fa-picture-o"></i></a>
                                    <a><i class="fa fa-video-camera"></i></a>
                                    <a><i class="icon-attach-3" data-toggle="tooltip" title="Business Contract.pdf - 2,238KB"></i></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--
        MODAL OVERLAY
        Always place this div at the end of the page content
        -->
        <div class="md-overlay"></div>
    </div>
    <!-- End of page -->
    <!-- the overlay modal element -->
    <div class="md-overlay"></div>
    <!-- End of eoverlay modal -->

</body>